$background-color: #2E2B40
$primary-tile: #B9AEFF
$font-stack: Arial, sans-serif
$font-light: #F7F6FF
$uniform-radius: 10px

@import client/grid/grid.sass
@import client/panel/panel.sass

html
  background-color: lighten( $primary-tile, 10% )

header
  width: 500px
  height: 120px
  margin: 50px auto
  border-radius: $uniform-radius

  p
    margin-top: 5px
    font: 1.15em $font-stack
    color: $background-color
    letter-spacing: 0.75px

  em
    font: italic 1em $font-stack
    color: $background-color
    letter-spacing: 1px

.title-tag
  font: bold 3em $font-stack
  color: $font-light
  margin-right: 200px

.title-and-score
  display: flex

  h1
    flex: 2
    font: bold 5em $font-stack
    letter-spacing: 0.5px
    color: $background-color

  .score
    flex: 1
    background-color: $background-color
    text-align: center
    border-radius: $uniform-radius
    height: 75px

    h6
      margin-top: 10px
      font: bold 0.75em $font-stack
      color: $font-light
      text-transform: uppercase
      letter-spacing: 0.25px

    p
      font: bold 2em $font-stack
      color: $font-light

.container
  width: 100%

.gameplay
  display: flex
  flex-flow: row wrap
  max-width: 900px
  margin: 0 auto