.panel
  flex: 1
  display: flex
  flex-direction: column
  justify-content: space-around
  max-width: 500px
  min-width: 300px
  margin: 20px
  border-radius: $uniform-radius
  background-color: $background-color

#voting-block
  margin: 10px
  border-radius: $uniform-radius
  background: rgba( $primary-tile, .3 )

  h1
    padding-top: 5px
    padding-bottom: 7px
    font: bold 1.2em $font-stack
    color: $font-light
    text-transform: uppercase
    text-align: center
    text-shadow: -1px 2px 5px $background-color

  .voting-panel
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 5px

    button
      display: block
      width: 52px
      height: 50px
      border-radius: 100%
      background-color: $primary-tile
      font: 1em $font-stack
      letter-spacing: 0.5px
      color: $font-light
      border-top: 2px solid $font-light
      border-left: 2px solid $font-light
      border-bottom: 2px solid $background-color
      border-right: 2px solid $background-color

    #up-block
      order: 1
      margin-bottom: 5px

    #left-block
      order: 2
      margin: 0 57px -5px 0

    #right-block
      order: 3
      margin: -55px 0 0 57px

    #down-block
      order: 4
      margin-top: 5px

#count-block
  margin: 10px
  border-radius: 5px
  background: rgba( $primary-tile, .3 )
  text-align: center

  .vote-count
    display: inline-block
    height: 75px
    width: 75px
    margin: 15px

    h6
      padding-top: 5px
      padding-bottom: 7px
      font: bold 1.2em $font-stack
      color: $font-light
      text-transform: uppercase
      text-align: center
      text-shadow: -1px 2px 5px $background-color

    h3
      padding-top: 5px
      padding-bottom: 7px
      font: bold 2em $font-stack
      color: $font-light
      text-transform: uppercase
      text-align: center
      text-shadow: -1px 2px 5px $background-color
